.home_page{

}

.home_page header{
  padding: 50px 0;
}
.home_page header h2{
  font-size: 40px;
  font-family: var(--fontFamily1);
  font-weight: 600;
}
.home_page header h2 span{
  color: var(--brandingColor);
}
@media (max-width: 450px){
  .home_page header h2{
    font-size: 30px;
  }
}

.home_page .wrapper{
  padding: 20px;
  background: var(--bgColor1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 768px){
  .home_page .wrapper{
    grid-template-columns: 1fr;
  }
}

.home_page .wrapper .left .image_preview{
  background: var(--bgColor2);
  border-radius: 20px;
  height: 300px;
  overflow-y: auto;
}
@media screen and (max-width: 768px){
  .home_page .wrapper .left .image_preview{
    height: unset;
  }
}
.home_page .wrapper .left .image_preview .preview{
  display: flex;
  border: 1px solid var(--brdColor1);
  border-radius: 20px;
  overflow: hidden;
}
.home_page .wrapper .left .image_preview .preview img{
  width: 100%;
}
.home_page .wrapper .image_receiver{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  cursor: pointer;
}
.home_page .wrapper .image_receiver img{
  height: 60px;
  width: min-content !important;
}
.home_page .wrapper .image_receiver .title{
  font-size: 16px;
  font-family: var(--fontFamily1);
  font-weight: 600;
  color: var(--txtColor3);
  margin-top: 20px;
}
.home_page .wrapper .left .compress_options{
  margin-top: 20px;
}
.home_page .wrapper .left .compress_options .title{
  font-size: 16px;
  font-family: var(--fontFamily1);
  font-weight: 600;
  color: var(--txtColor3);
  margin-bottom: 10px;
}
.home_page .wrapper .left .compress_options .MuiSlider-rail,
.home_page .wrapper .left .compress_options .MuiSlider-track{
  height: 8px;
  border-radius: 10px;
}
.home_page .wrapper .left .compress_options .MuiSlider-rail{
  background: gray;
}
.home_page .wrapper .left .compress_options .MuiSlider-track{
  background: var(--brandingColor);
}
.home_page .wrapper .left .compress_options .MuiSlider-thumb{
  margin-top: 0;
  height: 15px;
  width: 15px;
  margin-left: -7.5px;
  background: var(--txtColor3);
  margin-top: -3.2px;
}
.home_page .wrapper .left .compress_options .PrivateValueLabel-circle-4{
  background: var(--brandingColor);
}
.home_page .wrapper .left .compress_options .actions{
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.home_page .right .compressed_image_preview{
  background: var(--bgColor3);
  border-radius: 20px;
  height: 300px;
  justify-content: center;
  position: relative;
  align-items: center;
  border: 1px solid var(--brdColor1);
  overflow: auto;
}

@media screen and (max-width: 768px){
  .home_page .right .compressed_image_preview{
    height: unset;
    min-height: 150px;
  }
}
.home_page .right .compressed_image_preview .preview{
  display: flex;
}
.home_page .right .compressed_image_preview img{
  width: 100%;
}
.home_page .wrapper .right button{
  margin-top: 20px;
}

.home_page .credit{
  font-size: 16px;
  font-family: var(--fontFamily1);
  font-weight: 600;
  color: var(--txtColor3);
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 10px;
  float: right;
}
.home_page .credit img{
  height: 50px;
}

.home_page .copyright{
  font-size: 16px;
  font-family: var(--fontFamily1);
  font-weight: 600;
  color: var(--txtColor3);
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  padding-top: 40px;
  overflow: auto;
}